{{!-- This template is for Talents --}}
<form class="{{cssClass}} item" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="item-name"><input name="name" type="text" value="{{item.name}}" placeholder="Weapon Name"/></h1>
    </div>
  </header>

  {{!-- Sheet Body --}}
    <section class="sheet-body item-sheet">
        <table class="">
            {{#if (isWeaponClass data.class "melee")}}
            {{else }}
            <tr>
                <th><label>Range</label></th>
                <th><label>RoF</label></th>
                <th><label>Clip</label></th>
                <th><label>Reload</label></th>
            </tr>
            <tr>
                <td>
                    <span>
                        <input style="width: 60%"   type="number" title="range" name="data.range" value="{{data.range}}" data-dtype="Number">
                        <span>m</span>
                    </span>
                </td>
                <td>
                    <span>
                        <input style="width:20%"    type="text"      title="rofsingle"   name="data.rof.single"      value="{{data.rof.single}}"     data-dtype="Text">
                        <span>/</span>
                        <input style="width:20%"    type="number"    title="rofsemi"     name="data.rof.semi"        value="{{data.rof.semi}}"       data-dtype="Number">
                        <span>/</span>
                        <input style="width:20%"    type="number"    title="roffull"     name="data.rof.full"        value="{{data.rof.full}}"       data-dtype="Number">
                    </span>
                </td>
                <td>
                    <span>
                        <input style="width:20%"    type="number"    title="clipcur"     name="data.clip.cur"        value="{{data.clip.cur}}"       data-dtype="Number">
                        <span>/</span>
                        <input style="width:20%"    type="number"    title="clipmax"     name="data.clip.max"        value="{{data.clip.max}}"       data-dtype="Number">
                        <span>/</span>
                        <input style="width:20%"    type="number"    title="clipext"     name="data.clip.ext"        value="{{data.clip.ext}}"       data-dtype="Number">
                    </span>
                </td>
                <td>
                    <select name="data.reload" class="reload">
                        {{#select data.reload}}
                        {{#each (config "WeaponReloads" )as |option key|}}
                        <option value="{{key}}">{{option}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
            </tr>
            {{/if}}
            <tr>
                <th><label>Class</label></th>
                <th><label>Damage</label></th>
                <th><label>Type</label></th>
                <th><label>Penetration</label></th>
            </tr>
            <tr>
                <td>
                    <select name="data.class" class="class">
                        {{#select data.class}}
                        {{#each (config "WeaponClasses" )as |option key|}}
                        <option value="{{key}}">{{option}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <input style="width:20%"    type="number"    title="dmgdice"     name="data.damage.dice"     value="{{data.damage.dice}}"    data-dtype="Number">
                    <span>d10+</span>
                    <input style="width:20%"    type="number"    title="dmgstatic"   name="data.damage.static"   value="{{data.damage.static}}"  data-dtype="Number">
                </td>
                <td>
                    <select name="data.data.type" class="damagetype">
                        {{#select data.damage.type}}
                        {{#each (config "WeaponDamageTypes" )as |option key|}}
                        <option value="{{key}}">{{option.name}} ({{option.abbrev}})</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <input type="number"    title="penetration" name="data.penetration"     value="{{data.penetration}}"    data-dtype="Number">
                </td>
            </tr>
            <tr>
                <th><label>Craftsmanship</label></th>
                <th><label>Origin</label></th>
                <th><label>Specialization</label></th>
                <th><label>Weight</label></th>
            </tr>
            <tr>
                <td>
                    <select name="data.craftsmanship" class="craftsmanship">
                        {{#select data.craftsmanship}}
                        {{#each (config "ItemCraftsmanship" )as |option key|}}
                        <option value="{{key}}">{{option}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <select name="data.origin" class="origin">
                        {{#select data.origin}}
                        {{#each (config "ItemOrigins" )as |option key|}}
                        <option value="{{key}}">{{option}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <select name="data.spec" class="spec">
                        {{#select data.spec}}
                        {{#each (config "WeaponSpecs" )as |option key|}}
                        <option value="{{key}}">{{option.name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <input type="number" title="weight" name="data.weight" value="{{data.weight}}" data-dtype="Number">
                </td>
            </tr>
            <tr>
                <th colspan="2">Special Qualities</th>
                <th colspan="2">Modifications</th>
            </tr>
            <tr>
                <td colspan="2">
                    <span>
                        <input disabled style="width:60%"   type="text" value="{{data.specialsstring}}" /><a class="item-specials"><i class="fas fa-cog"></i></a>  
                    </span>
                </td>
                <td colspan="2">
                    <span>
                        <input disabled style="width:60%"   type="text" value="{{data.modifications}}" />
                    </span>
                </td>
            </tr>
            <tr>
                <th colspan="4">Description</th>
            </tr>
            <tr>
                <td colspan="4" class="description-container">
                    <span class="description">
                        {{editor content=data.desc target="data.desc" button=true owner=owner editable=editable}}
                    </span>
                </td>
            </tr>
        </table>
        <!--<div class="wrapper-row">
            <div class="pill">
                <label>Class</label>
                <select name="data.class" class="class">
                    {{#select data.class}}
                    {{#each (config "WeaponClasses" )as |option key|}}
                    <option value="{{key}}">{{option}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
            <div class="pill">
                <label>Origin</label>
                <select name="data.origin" class="origin">
                    {{#select data.origin}}
                    {{#each (config "ItemOrigins" )as |option key|}}
                    <option value="{{key}}">{{option}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
            <div class="pill">
                <label>Spec</label>
                <select name="data.spec" class="spec">
                    {{#select data.spec}}
                    {{#each (config "WeaponSpecs" )as |option key|}}
                    <option value="{{key}}">{{option.name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="wrapper-row">
            <div class="pill">
                <label>Rng</label>
                <input type="number" title="range" name="data.range" value="{{data.range}}" data-dtype="Number">
            </div>
            <div class="pill">
                <label>RoF</label>
                <input type="string" title="rofsingle" name="data.rof.single"  value="{{data.rof.single}}" data-dtype="Text">
                <input type="number" title="rofsemi"   name="data.rof.semi"    value="{{data.rof.semi}}"   data-dtype="Number">
                <input type="number" title="roffull"   name="data.rof.full"    value="{{data.rof.full}}"   data-dtype="Number">
            </div>
            <div class="pill">
                <label>Dmg(Xd10+Y)</label>
                <input type="number" title="dmgdice"    name="data.damage.dice"     value="{{data.damage.dice}}"    data-dtype="Number">
                <input type="number" title="dmgstatic"  name="data.damage.static"   value="{{data.damage.static}}"  data-dtype="Number">
                <input type="string" title="dmgtype"    name="data.damage.type"     value="{{data.damage.type}}"    data-dtype="Text">
            </div>
            <div class="pill">
                <label>Pen</label>
                <input type="number" title="penetration" name="data.penetration" value="{{data.penetration}}" data-dtype="Number">
            </div>
        </div>
        <div class="wrapper-row">
            <div class="pill">
                <label>Clip</label>
                <input type="number" title="clipcur" name="data.clip.cur" value="{{data.clip.cur}}" data-dtype="Number">
                <input type="number" title="clipmax" name="data.clip.max" value="{{data.clip.max}}" data-dtype="Number">
                <input type="number" title="clipext" name="data.clip.ext" value="{{data.clip.ext}}" data-dtype="Number">
            </div>
            <div class="pill">
                <label>Rld</label>
                <select name="data.reload" class="reload">
                    {{#select data.reload}}
                    {{#each (config "WeaponReloads" )as |option key|}}
                    <option value="{{key}}">{{option}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
            <div class="pill">
                <label>Craftsmanship</label>
                <select name="data.craftsmanship" class="craftsmanship">
                    {{#select data.craftsmanship}}
                    {{#each (config "ItemCraftsmanship" )as |option key|}}
                    <option value="{{key}}">{{option}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
            <div class="pill">
                <label>Weight</label>
                <input type="number" title="weight" name="data.weight" value="{{data.weight}}" data-dtype="Number">
            </div>
        </div>
        <div class="wrapper-row">
            <div class="item-form-group stacked">
                <label>Special Qualities<a class="item-specials"><i class="fas fa-cog"></i></a></label>            
                <div class="item-form-inputs">
                  <input disabled type="text" value="{{data.specialsstring}}" />
                </div>
            </div>
        </div>-->
  </section>
</form>
